* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #F3F4F2;
    overflow-x: hidden;
}

header {
   
padding: 35px 40px;
}


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    position: relative;
    
}



.logo {
   height: 3.3vw;
   width: 14vw;
}


.menu {
    list-style: none;
    display: flex;
    gap: 3vw;
    
}

.menu li {
    font-family: 'Inter', sans-serif;
    
}

.menu a {
    text-decoration: none;
    color: #546740;
    font-size: 1vw;
}


.btn {
    background-color: #617050;
    color: #F3F4F2;
    padding: 0.7vw 1.1vw;
    border-radius: 0.3vw;
    text-decoration: none;
    font-size: 1vw;
    box-shadow:  0.1vw 0.3vw 0.2vw rgba(0, 0, 0, 0.324);
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

.image img{
    display: flex;
    top: 3.7vw;
    position: relative;
    float:right; 
    right: 6vw;
    height: 40vw;
    border-bottom-left-radius:50%;
    border-top-right-radius:50%;
    border-top-left-radius:20%;
    border-bottom-right-radius:20%;
}

.image2 img{
    top: 6vw;
    position: relative;
    height: 6vw;
    left: 5.4vw;
}
h1{
    position: relative;
    top: 9vw;
    font-size:2.6vw;
    left: 5.8vw;
    color: #484947;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.options ul{
    top: 11vw;
    position: relative;
    font-size: 1.6vw;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: #484947d4;
    left: 7.5vw;
}
.options li{
    margin-bottom: 2.2vw; 
}
.burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 0.6vw;
}
.burger span {
    width: 3.5vw;
    height: 0.5vw;
    background-color: #546740e0;
    }
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  /* Для планшетів */
@media (max-width: 991px) {
    
    
        .menu a {
            font-size: 1.7vw;
        }
        .logo{
            height: 3.9vw;
             width: 17vw;
        }
    
        h1 {
            font-size: 4vw;
            left: 25vw;
            top: 4vw;
        }
    
        .options li{
        font-size: 2.6vw;
         margin-left: 22vw;
           }

           .image img {
            position: static;
            float: none;
            display: block;
            margin: 6vw auto;
            height: 60vw;
        }
    
        .image2 img {
            left: 16vw;
            height: 9vw;
            top: 0;
        }

        h6 {
            font-size: 2.4vw !important;
           }
       .info , .info2 , .info3, .info4, .info5, .info6  {
            line-height: 2vw !important;
            font-size: 1.8vw !important;
        }
        .btn2{
            font-size: 1.6vw !important;
        }
        button {
            width: 12vw;
            height: 5vw;
           font-size: 1.7vw !important;
        }
    
        .logo img {
        height: 8vw !important;
        }
    
    
        .footer-content {
            flex-direction: column;
            text-align: left;
            margin: 0 10vw 0 12vw;
            font-size: 3vw !important ;
           }
           .footer-content li{
            line-height: 5vw;
           }
           .contact li{
            line-height: 4vw !important;
           }
    
        .socials {
            display: none;
        }
    
    
        h12 {
            font-size: 4.3vw !important;
            top: 4vw !important;
        }
    
        h16 {
            display: none;
        }
    
        h15 {
            font-size: 2.4vw !important;
           left: 28vw !important;
        }
    }

    /* Мобільні пристрої */
 @media (max-width: 768px){

    header {
        padding: 25px 20px;
    }

    .container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .menu {
        flex-direction: column;
        gap: 15px;
        width: 100%;
        margin-top: 20px;
        display: none;
    }
   
    .menu a {
        font-size: 16px;
    }

    .btn {
        display: none;
    }

    .burger {
        display: flex;
        margin-left: 88%;
    }

    .info , .info2 , .info3, .info4, .info5, .info6  {
        line-height: 2.8vw !important;
        font-size: 2.5vw !important;
       }

       .info2, .info4, .info6 {
    left: 4vw !important; 
    }

    .image4 img, .image6 img, .image8 img {
        left: 66vw !important;
    }

    h5{
        font-size: 3vw !important;
    }

    .btn2{
        font-size: 2.5vw !important;
    }

    .image3 img, .image5 img, .image7 img {
        left: 2vw !important;
    }
    .info, .info3, .info5{
        left: 40vw !important; 
    }
    }
    

    /* Для телефонів */
@media (max-width: 480px){
 .logo{
    height: 7vw;
    width: 30vw;
 }
 .menu a {
    font-size: 1vw;
}

.btn {
    display: none;
}

.burger {
    display: flex;
    margin-left: 88%;
    bottom: 10vw !important;
 }
 .image2 img{
    left: 10vw;
 }
 h1{
    font-size: 4.6vw;
    left:12vw;
 }
 .options li{
font-size: 3.8vw;
margin-left: 8vw;
 }
 .info , .info2 , .info3, .info4, .info5, .info6  {
    line-height: 3vw !important;
    font-size: 2.8vw !important;
   }
  }

h6{
    
    position: relative;
    left: 45vw;
    font-size: 1.8vw;
    font-weight: 300;
    color: #4E4E4D;

}
.text-blok{
    background: linear-gradient(to bottom, #F3F4F2,#cdd3c8d5 , #b3bca9e4);
    padding: 1vw  ;
    position: relative;
    top: 29vw;
}
.image3 img{
    height: 23vw;
    width: 33.2vw;
    position: relative;
    top: 38vw;
    border-bottom-left-radius:20%;
    border-top-right-radius:7%;
    border-top-left-radius:20%;
    border-bottom-right-radius:7%;
    left: 16vw;
    
    user-select: none; 
    pointer-events: none;
}
.info{
    left: 54vw;
    position: relative;
    font-size: 1.4vw;
    top: 14.5vw;
   color: #60615e;
   font-weight: 200;
   font-family: 'Inter', sans-serif;
}
h5{
    font-size: 1.8vw;
    font-family: 'Inter', sans-serif;
   position: relative;
   font-weight: 400;
}
.info li,.info2 li, .info3 li,.info4 li,.info5 li,.info6 li{
    left: 1.2vw;
    position: relative;
    
}
.btn2{
    background-color: #617050;
    color: #F3F4F2;
    padding: 0.5vw 2.2vw;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1vw;
    box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.324);
    font-family: 'Inter', sans-serif;
    position: relative;
    top: 0.5vw;
    
}
.image4 img{
    height: 30vw;
    position: relative;
    top: 29vw;
    border-bottom-left-radius:7%;
    border-top-right-radius:20%;
    border-top-left-radius:7%;
    border-bottom-right-radius:20%;
    left: 54vw;
    z-index: 1;
    user-select: none; 
    pointer-events: none;
}
.info2{
    left:16vw;
    position: relative;

    font-size: 1.4vw;
   color: #60615e;
   font-weight: 200;
   font-family: 'Inter', sans-serif;
}

.text-2-blok{
    background: linear-gradient(to bottom, #b3bca9e4,#cdd3c835, #F3F4F2);
    padding: 8vw 3vw ;
    position: relative;
   bottom: 4.5vw;
}
.image5 img{
    height: 20vw;
    position: relative;
    top: 10vw;
    border-bottom-left-radius:20%;
    border-top-right-radius:7%;
    border-top-left-radius:20%;
    border-bottom-right-radius:7%;
    left: 16vw;
    user-select: none; 
    pointer-events: none;
}
.info3{
    left: 55vw;
    position: relative;
    font-size: 1.4vw;
    bottom: 12vw;
   color: #60615e;
   font-weight: 200;
   font-family: 'Inter', sans-serif;
}

.image6 img{
    height: 22vw;
    position: relative;
    top: 8.2vw;
    border-bottom-left-radius:7%;
    border-top-right-radius:20%;
    border-top-left-radius:7%;
    border-bottom-right-radius:20%;
    left: 51vw;
    z-index: 1;
    user-select: none; 
    pointer-events: none;
}
.info4{
    left:16vw;
    position: relative;
    font-size: 1.4vw;
   color: #60615e;
   font-weight: 200;
   font-family: 'Inter', sans-serif;
}

.text-3-blok{
    background: linear-gradient(to bottom, #F3F4F2,#cdd3c835, #b3bca9e4);
    padding: 8vw 3vw ;
    position: relative;
   bottom: 22vw;
}
.image7 img{
    height: 22vw;
    position: relative;
    bottom: 9.2vw;
    border-bottom-left-radius:20%;
    border-top-right-radius:7%;
    border-top-left-radius:20%;
    border-bottom-right-radius:7%;
    left: 18vw;
    user-select: none; 
    pointer-events: none;
}
.info5{
    left: 56vw;
    position: relative;
    font-size: 1.4vw;
    bottom: 32vw;
   color: #60615e;
   font-weight: 200;
   font-family: 'Inter', sans-serif;
}

.image8 img{
    height: 32vw;
    position: relative;
   bottom: 14vw;
    border-bottom-left-radius:7%;
    border-top-right-radius:20%;
    border-top-left-radius:7%;
    border-bottom-right-radius:20%;
    left: 51vw;
    z-index: 1;
    user-select: none; 
    pointer-events: none;
}
.info6{
    left:15vw;
    position: relative;
    font-size: 1.4vw;
    color: #60615e;
   font-weight: 200;
   font-family: 'Inter', sans-serif;
}

.text-4-blok{
    background: linear-gradient(to bottom, #b3bca9e4,#cdd3c835 , #F3F4F2);
    padding: 7vw 3vw ;
    position: relative;
   bottom: 50vw;
}

footer {
    background-color: #617050eb;
    padding: 1vw 2vw ;
    width: 100%;
  }
.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1.8vw;
    padding-left: 16vw;
    font-size: 1.1vw;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    }

    

.footer-content div {
    flex: 1;
    margin:0.9vw;
}



h12,  h14 {
    margin-bottom: 0.6vw;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}



footer ul li {
    margin-bottom: 0.3vw;
    list-style: none;
    padding: 0;
    line-height: 2vw;
}

.footer-content a {
    text-decoration: none;
    color: #CDD3C8;
}



div .socials{
top: 5vw;
position: relative;
}
button {
    border: none;
    cursor: pointer;
    background-color: #CDD3C8;
    color: #484947;
    padding: 0.8vw 1.5vw;
    border-radius: 0.3vw;
    text-decoration: none;
    font-size: 1.1vw;
    box-shadow: 0.1vw 0.3vw 0.2vw rgba(0, 0, 0, 0.324);
    font-family: 'Inter', sans-serif;
    position: relative;
    font-weight: 400;
   left: 80vw;
   bottom: 1.4vw;
}





h12{
    font-size: 2.8vw;
    color: #F3FCEC;
    position: relative;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    top: 2vw;
    left: 7vw;
}
.logo img{
    height: 3.9vw;
    right:10vw ;
    position: relative;
    bottom:2.5vw;
    
}
h15{
    bottom: 2.5vw;
    position: relative;
    font-size: 0.8vw;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    color: #CDD3C8;
   left: 40vw;
}
h16{
    color: #FFFFFF;
    position: relative;
    left: 8vw;
    font-family: 'Inter', sans-serif;
    font-size: 1.2vw;
    font-weight: 200;
    top: 9vw;
}
.line {
    width: 89vw;
    border-top: 0.076vw solid #CDD3C8;
    margin: 0.6vw 0; 
   left:3vw;
   position: relative;
}
.line2{
    bottom: 2.4vw;
    position: relative;
    width: 89vw;
    border-top: 0.076vw solid #CDD3C8; 
    margin: 0.6vw 0;
    left: 3vw;
  
}
.contact img{
    width: 1.6vw;
    margin: 0.5vw;
    background-color:#d5dfd0 ;
    border-radius: 2vw;
    position: relative;
}
.contact li{
    line-height: 0vw;

}

.socials img {
    width: 2.3vw;
    height: 2.3vw;
    margin: 0.5vw;
   
   
}

