* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #F3F4F2;
    overflow-x: hidden;
}

header {
   
padding: 35px 40px;
}


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    position: relative;
    
}



.logo {
   height: 50px;
}


.menu {
    list-style: none;
    display: flex;
    gap: 30px;
    
}

.menu li {
    font-family: 'Inter', sans-serif;
    
}

.menu a {
    text-decoration: none;
    color: #546740;
    font-size: 18px;
}


.btn {
    background-color: #617050;
    color: #F3F4F2;
    padding: 12px 18px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 17px;
    box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.324);
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}





.image img{
    top: 100px;
    position: relative;
    float:right; 
    right: 100px;
    height: 650px;
    border-bottom-left-radius:50%;
    border-top-right-radius:50%;
    border-top-left-radius:20%;
    border-bottom-right-radius:20%;
}
.image2 img{
    top: 105px;
    position: relative;
    height: 100px;
    left: 100px;
}
h1{
    position: relative;
    top: 140px;
    font-size:43px;
    left: 100px;
    color: #484947;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.options ul{
    top: 180px;
    position: relative;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: #484947d4;
    left: 130px;
    line-height: 50px;
}

html {
    scroll-behavior: smooth;
  }

  h6{
    
    position: relative;
    left: 755px;
    font-size: 30px;
    font-weight: 300;
    color: #4E4E4D;

}
.text-blok{
    background: linear-gradient(to bottom, #F3F4F2,#cdd3c8d5 , #b3bca9e4);
    padding: 15px 25px ;
    position: relative;
    top: 500px;
}
.image3 img{
    height: 400px;
    width: 565px;
    position: relative;
    top: 640px;
    border-bottom-left-radius:20%;
    border-top-right-radius:7%;
    border-top-left-radius:20%;
    border-bottom-right-radius:7%;
    left: 230px;
}
.info{
    left: 880px;
    position: relative;
    font-size: 23px;
    top: 230px;
   color: #60615e;
   font-weight: 200;
   font-family: 'Inter', sans-serif;
}
h5{
    font-size: 30px;
    font-family: 'Inter', sans-serif;
   position: relative;
   font-weight: 400;
}
.info li,.info2 li, .info3 li,.info4 li,.info5 li,.info6 li{
    left: 20px;
    position: relative;
}
.btn2{
    background-color: #617050;
    color: #F3F4F2;
    padding: 10px 35px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.324);
    font-family: 'Inter', sans-serif;
    position: relative;
    top: 10px;
    
}
.image4 img{
    height: 500px;
    width: 560px;
    position: relative;
    top: 535px;
    border-bottom-left-radius:7%;
    border-top-right-radius:20%;
    border-top-left-radius:7%;
    border-bottom-right-radius:20%;
    left: 900px;
    z-index: 1;
}
.info2{
    left:240px;
    position: relative;
    font-size: 23px;
    
   color: #60615e;
   font-weight: 200;
   font-family: 'Inter', sans-serif;
}

.text-2-blok{
    background: linear-gradient(to bottom, #b3bca9e4,#cdd3c835, #f2f2f4);
    padding: 120px 60px ;
    position: relative;
   bottom: 70px;
}
.image5 img{
    height: 400px;
    width: 560px;
    position: relative;
    top: 200px;
    border-bottom-left-radius:20%;
    border-top-right-radius:7%;
    border-top-left-radius:20%;
    border-bottom-right-radius:7%;
    left: 310px;
}
.info3{
    left: 960px;
    position: relative;
    font-size: 23px;
    bottom: 200px;
   color: #60615e;
   font-weight: 200;
   font-family: 'Inter', sans-serif;
}

.image6 img{
    height: 400px;
    width: 580px;
    position: relative;
    top: 135px;
    border-bottom-left-radius:7%;
    border-top-right-radius:20%;
    border-top-left-radius:7%;
    border-bottom-right-radius:20%;
    left: 900px;
    z-index: 1;
}
.info4{
    left:320px;
    position: relative;
    font-size: 23px;
   
   color: #60615e;
   font-weight: 200;
   font-family: 'Inter', sans-serif;
}

.text-3-blok{
    background: linear-gradient(to bottom, #F3F4F2,#cdd3c835, #b3bca9e4);
    padding: 120px 60px ;
    position: relative;
   bottom: 370px;
}
.image7 img{
    height: 400px;
    width: 560px;
    position: relative;
    bottom: 150px;
    border-bottom-left-radius:20%;
    border-top-right-radius:7%;
    border-top-left-radius:20%;
    border-bottom-right-radius:7%;
    left: 310px;
}
.info5{
    left: 960px;
    position: relative;
    font-size: 23px;
    bottom: 540px;
   color: #60615e;
   font-weight: 200;
   font-family: 'Inter', sans-serif;
}

.image8 img{
    height: 500px;
    width: 560px;
    position: relative;
   bottom: 210px;
    border-bottom-left-radius:7%;
    border-top-right-radius:20%;
    border-top-left-radius:7%;
    border-bottom-right-radius:20%;
    left: 900px;
    z-index: 1;
}
.info6{
    left:240px;
    position: relative;
    font-size: 23px;
    
   color: #60615e;
   font-weight: 200;
   font-family: 'Inter', sans-serif;
}

.text-4-blok{
    background: linear-gradient(to bottom, #b3bca9e4,#cdd3c835 , #f2f2f4);
    padding: 120px 60px ;
    position: relative;
   bottom: 790px;
}

footer {
    background-color: #617050eb;
    padding: 15px 25px ;
    height: 600px;
    
   overflow: hidden;
   position: relative;
   
  
}
.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px;
    padding-left: 17%;
    font-size: 19px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    }

    

.footer-content div {
    flex: 1;
    margin: 10px;
}



h12,  h14 {
    margin-bottom: 10px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}



footer ul li {
    margin-bottom: 5px;
    list-style: none;
    padding: 0;
    line-height: 34px;
}

.footer-content a {
    text-decoration: none;
    color: #CDD3C8;
}



div .socials{
top: 90px;
position: relative;
}
button {
    border: none;
    cursor: pointer;
    background-color: #CDD3C8;
    color: #484947;
    padding: 12px 18px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 17px;
    box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.324);
    font-family: 'Inter', sans-serif;
    position: relative;
    font-weight: 400;
   left: 83%;
   bottom: 20px;
}




.footer-bottom {
    margin-top: 20px;
}
h12{
    font-size: 40px;
    color: #F3FCEC;
    position: relative;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    top: 7%;
    left: 7%;
}
.logo img{
    height: 120%;
    right:170px ;
    position: relative;
    bottom: 35px;
    
}
h15{
    bottom: 40px;
    position: relative;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    color: #CDD3C8;
   left: 42%;
}
h16{
    color: #FFFFFF;
    position: relative;
    left: 130px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 200;
    top: 28%;
}
.line {
    width: 91%;
    border-top: 1px solid #CDD3C8;
    margin: 10px 0; 
   left: 4%;
   position: relative;
}
.line2{
    bottom: 40px;
    position: relative;
    width: 91%;
    border-top: 1px solid #CDD3C8; 
    margin: 10px 0;
    left: 4%;
}
.contact img{
    width: 28px;
    margin: 9px;
    background-color:#d5dfd0 ;
    border-radius: 18px;
    position: relative;
}
.contact li{
    line-height: 0px;

}
video{
    top: 40px;
    position: relative;
    height: 800px;
    width: 1460px;
   
}
.socials img {
    width: 30px;
    margin: 11px;
   
   
}

