* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #F3F4F2;
    overflow-x: hidden;
}

header {
   
padding: 35px 40px;
}


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    position: relative;
    
}


.logo {
   height: 50px;
}


.menu {
    list-style: none;
    display: flex;
    gap: 30px;
    
}

.menu li {
    font-family: 'Inter', sans-serif;
    
}

.menu a {
    text-decoration: none;
    color: #546740;
    font-size: 18px;
}


.btn {
    background-color: #617050;
    color: #F3F4F2;
    padding: 12px 18px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 17px;
    box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.324);
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

.burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.burger span {
    width: 25px;
    height: 3px;
    background-color: #546740;
}


@media (max-width: 768px) {
    header {
        padding: 25px 20px;
    }

    .container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        height: 30px;
    }

    .menu {
        flex-direction: column;
        gap: 15px;
        width: 100%;
        margin-top: 20px;
        display: none; 
    }

  

    .menu a {
        font-size: 16px;
    }

    .btn {
        padding: 10px 15px;
        font-size: 16px;
    }

    .burger {
        display: flex;
        margin-left: 20px; 
    }
}

@media (max-width: 480px) {
    .menu a {
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
    }
}
.image img{
    top: 100px;
    position: relative;
    float:right; 
    right: 100px;
    height: 650px;
}
.image2 img{
    top: 105px;
    position: relative;
    height: 100px;
    left: 100px;
}
h1{
    position: relative;
    top: 140px;
    font-size:45px;
    left: 100px;
    color: #484947;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
h2{
    font-size: 21px;
    top: 170px;
    position: relative;
    left: 100px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #919291;
    
}
.btn1{
    background-color: #617050;
    color: #F3F4F2;
    padding: 12px 18px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 17px;
    box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.324);
    font-family: 'Inter', sans-serif;
    position: relative;
    top: 220px;
    left: 100px;
    font-weight: 300;
}
.btn2{
    background-color: #CDD3C8;
    color: #4E4E4D;
    padding: 12px 18px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 17px;
    box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.324);
    font-family: 'Inter', sans-serif;
    position: relative;
    top: 220px;
    left: 120px;
}
.image3 {
    top: 270px;
    position: relative;
    left: 100px;
}
.image4 {
    top: 218px;
    position: relative;
    left: 140px;
}
.image5 {
    top: 167px;
    position: relative;
    left: 180px;
}
h3{
    top: 180px;
    position: relative;
    left: 100px;
    font-size:15px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #4E4E4D;
}
.image6{
    top: 485px;
    position:relative ;
    border-bottom-left-radius:45%;
    border-top-right-radius:45%;
    left: 100px;
}
h4{
    left: 100px;
    position: relative;
    font-weight: normal;
    font-family: 'Inter', sans-serif;
    color: #8E9D82;
    font-size: 20px;
}


h5 {
    font-size: 20px;
    color: #484947;
  font-weight: 600;
    font-family: 'Inter', sans-serif;
    left: 930px;
    position: relative;
    top: 100px;
}

p {
    font-size: 20px;
    color: #626460;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    left: 930px;
    position: relative;
    top: 100px;
}
h6{
    
    position: relative;
    left: 755px;
    font-size: 30px;
    font-weight: 300;
    color: #4E4E4D;

}
.text-blok{
    background: linear-gradient(to bottom, #F3F4F2,#cdd3c8 , #f2f2f4);
    padding: 15px 25px ;
    position: relative;
    top: 380px;
}
.image7 img{
    height: 500px;
    width: 340px;
    position: relative;
    top: 530px;
    border-bottom-left-radius:65%;
    border-top-right-radius:60%;
    border-top-left-radius:30%;
    border-bottom-right-radius:20%;
    left: 400px;
    overflow: hidden;
}
.info{
    left: 850px;
    position: relative;
    font-size: 22px;
    top: 200px;
   color: #60615e;
}
h7, h8, h9{
    font-size: 35px;
bottom: 30px;
position: relative;
color: #484947;

}

.image8 img{
    height: 400px;
    width: 590px;
    position: relative;
    top: 100px;
    border-bottom-left-radius:60%;
    border-top-right-radius:60%;
    border-top-left-radius:30%;
    border-bottom-right-radius:30%;
    left:850px;
}
.info2{
    left: 25%;
    position: relative;
    font-size: 22px;
    bottom: 180px;
   color: #60615e;
}
.text-2-blok{
    background: linear-gradient(to bottom, #F3F4F2,#cdd3c8d5 , #f2f2f4);
    padding: 15px 25px ;
    position: relative;
    top: 500px;

}
   
.info li,.info2 li, .info3 li{
    left: 23px;
    position: relative;
    line-height: 30px;
}


.image9 img{
    height: 400px;
    width: 590px;
    position: relative;
    top: 670px;
    border-bottom-left-radius:50%;
    border-top-right-radius:50%;
    border-top-left-radius:10%;
    border-bottom-right-radius:10%;
    left:300px;
    overflow: hidden;
}

.info3{
    left: 59%;
    position: relative;
    font-size: 22px;
    top: 400px;
   color: #60615e;
}
html {
    scroll-behavior: smooth;
  }
  h10{
    top: 700px;
    position: relative;
left: 630px;
font-size: 50px;
color: #373836ef;
overflow: hidden;
  }
  h11{
    
    top: 736px;
    position: relative;
    left: 110px;
    font-size: 25px;
    color: #8e9d82e8;
  }

  footer {
    background-color: #617050eb;
    padding: 15px 25px ;
    height: 600px;
    top: 300px;
   overflow: hidden;
   position: relative;
   right: 110px;
  
}
.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px;
    padding-left: 17%;
    font-size: 19px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    }

    

.footer-content div {
    flex: 1;
    margin: 10px;
}



h12,  h14 {
    margin-bottom: 10px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}



footer ul li {
    margin-bottom: 5px;
    list-style: none;
    padding: 0;
    line-height: 34px;
}

.footer-content a {
    text-decoration: none;
    color: #CDD3C8;
}



div .socials{
top: 90px;
position: relative;
}
button {
    border: none;
    cursor: pointer;
    background-color: #CDD3C8;
    color: #484947;
    padding: 12px 18px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 17px;
    box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.324);
    font-family: 'Inter', sans-serif;
    position: relative;
    font-weight: 400;
   left: 83%;
   bottom: 20px;
}




.footer-bottom {
    margin-top: 20px;
}
h12{
    font-size: 40px;
    color: #F3FCEC;
    position: relative;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    top: 7%;
    left: 7%;
}
.logo img{
    height: 120%;
    right:170px ;
    position: relative;
    bottom: 35px;
    
}
h15{
    bottom: 40px;
    position: relative;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    color: #CDD3C8;
   left: 42%;
}
h16{
    color: #FFFFFF;
    position: relative;
    left: 130px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 200;
    top: 28%;
}
.line {
    width: 91%;
    border-top: 1px solid #CDD3C8;
    margin: 10px 0; 
   left: 4%;
   position: relative;
}
.line2{
    bottom: 40px;
    position: relative;
    width: 91%;
    border-top: 1px solid #CDD3C8; 
    margin: 10px 0;
    left: 4%;
}
.contact img{
    width: 28px;
    margin: 9px;
    background-color:#d5dfd0 ;
    border-radius: 18px;
    position: relative;
}
.contact li{
    line-height: 0px;

}
video{
    top: 40px;
    position: relative;
    height: 800px;
    width: 1460px;
   
}
.socials img {
    width: 30px;
    margin: 11px;
   
   
}