* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    background-color: #F3F4F2;
    overflow-x: hidden;
   
}

header {

    padding: 35px 40px;
}


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    position: relative;

}


.logo {
    height: 2.5vw;
    width: 11vw;
 }


 .menu {
    list-style: none;
    display: flex;
    gap: 3vw;
    
}

.menu li {
    font-family: 'Inter', sans-serif;
    
}

.menu a {
    text-decoration: none;
    color: #546740ed;
    font-size: 1vw;
    transition: color 0.3s ease, transform 0.3s ease;
    display: inline-block;
}
.menu a:hover {
    color: #384918; 
    transform: scale(1.1);
  }

.btn {
    background-color: #617050;
    color: #F3F4F2;
    padding: 0.7vw 1.1vw;
    border-radius: 0.3vw;
    text-decoration: none;
    font-size: 1vw;
    box-shadow:  0.1vw 0.3vw 0.2vw rgba(0, 0, 0, 0.324);
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    transition: background-color 0.4s ease, color 0.4s ease, transform 0.3s ease;
}
.btn:hover, .btn1:hover{
    background-color: #CDD3C8; 
    color: #4E4E4D;   
    transform: scale(1.1);         
}
.btn2:hover{
    background-color: #617050; 
    color: #F3F4F2;  
    transform: scale(1.1);
}
.burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap:1.3vw;
}
.burger span {
    width: 6vw;
    height: 0.6vw;
    background-color: #677459cc;
   
    }
    .close-btn {
        font-size: 8vw;
        color: #000000;
        cursor: pointer;
        align-self: flex-end;
        margin: 20px;
        display: none; 
    }

.image img {
    top: 3vw;
    position: relative;
    float: right;
    right: 5.5vw;
   height: 41vw;
}


.image2 img {
    top: 6vw;
    position: relative;
    height: 6vw;
    left: 5.4vw;
}

h1 {
    position: relative;
     top: 9vw;
    font-size:2.6vw;
    left: 5.8vw;
    color: #484947;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    display: flex;
}


h2 {
    font-size: 1.2vw;
    top: 10.2vw;
    position: relative;
    left: 5.8vw;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: #919291;
    
}

.btn1,
.btn2 {
    border-radius: 0.3vw;
    text-decoration: none;
    font-size: 1vw;
    box-shadow:  0.1vw 0.3vw 0.2vw rgba(0, 0, 0, 0.324);
    position: relative;
    top: 12.8vw;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
    transition: background-color 0.4s ease, color 0.4s ease,transform 0.3s ease;
    display: inline-block;
}

.btn1 {
    background-color: #617050;
    color: #F3F4F2;
    left: 5.8vw;
    padding:0.7vw 1.1vw;
}

.btn2 {
    background-color: #CDD3C8;
    color: #4E4E4D;
    left: 7vw;
    padding:0.7vw 1.6vw;
}
.img6, .img7, .img8, .img9 {
    transition: transform 0.4s ease;
  transform: scale(1);
  will-change: transform;
  transform-origin: center center; 
}
 
/* Для планшетів */
@media (max-width: 991px) {
    
.btn{
    font-size: 1.6vw;
}
    .menu a {
        font-size: 1.7vw;
        line-height: 3vw;
    }
    .logo{
        height: 3.9vw;
         width: 17vw;
    }

    h1 {
        font-size: 4vw;
        left: 9vw;
        top: 1.8vw;
    }

    h2 {
        font-size: 2.3vw;
        left: 9vw;
        top: 3.3vw;
    }

    .btn1,
    .btn2 {
        top: 7vw;
        left: 9vw;
        font-size: 2vw;
    }

    .btn2 {
        left: 11vw;
    }

    .image2 img {
        left: 9vw;
        height: 9vw;
        top: 0;
    }

    .image img {
       
        position: static;
        float: none;
        display: block;
        margin: 6vw auto;
        height: 70vw;
    }

    .images{
        top: 11vw !important;
margin-left: 3vw;
    }

    h3 {
        top: 12vw !important;
       margin-left: 3vw;
       font-size: 1.6vw !important;
    }

    h4 {
        left: auto !important;
        margin-left: 22vw;
        font-size: 2.8vw !important;
        top: 2vw !important;
    }

    .img6 {
        display: flex;
        margin:0 10vw 30vw 15vw;

    }

    h5,
    p {
        font-size: 2.3vw !important;
        left: auto !important;
        text-align: left;
        display: flex;
        margin: 0 20vw 0 22vw;
    }

    h6 {
        font-size: 2.4vw !important;
       
    }

    
    .img7 img {
        left: auto !important;
        top: auto !important;
        margin: 30vw 25vw 10vw 25vw;
        display: flex;
        width: 50vw !important;
    }

    h7,
    h8,
    h9 {
        font-size: 4vw !important;
        display: flex;
       }
       .info li, .info2 li, .info3 li {
        line-height: 3vw !important;
        font-size: 2.2vw;
       }
  
       .info {
        left: auto !important;
        top: auto !important;
       margin: 0 25vw;
    }

    .img8 img {
        left: auto !important;
        top: auto !important;
        display: flex;
        width: 78vw !important;
        margin-left: 10vw;
        margin-top: 20vw;
    }

    .info2 {
        left: auto !important;
        top: auto !important;
        margin: 0 25vw;
        margin-top: 21vw;
    }

    .text-2-blok {
        top: auto !important;

    }

    .img9 img {
        left: auto !important;
        top: auto !important;
        display: flex;
        width: 75vw !important;
        height: 49vw !important;
        margin-left: 13vw;
        margin-top: 10vw;
    }

    .info3 {
        left: auto !important;
        top: auto !important;
        margin: 11vw 25vw;
    }

    h10 {
       font-size: 2.8vw;
        top: auto !important;
    }

    h11 {
        font-size: 1.5vw;
       
       
        top: auto !important;
    }

    video {
       
        margin-top: 2vw !important;
    }

    button {
        width: 12vw;
        height: 5vw;
       font-size: 1.7vw !important;
    }

    .logo img {
    height: 8vw !important;
    }


    .footer-content {
        flex-direction: column;
        text-align: left;
        margin: 0 10vw 0 12vw;
        font-size: 3vw !important ;
       }
       .footer-content li{
        line-height: 5vw;
       }
       .contact li{
        line-height: 4vw !important;
       }

    .socials {
        display: none;
    }


    h12 {
        font-size: 4.3vw !important;
        top: 4vw !important;
    }

    h16 {
        display: none;
    }

    h15 {
        font-size: 2.4vw !important;
       left: 28vw !important;
    }
}


/* Мобільні пристрої */
 @media (max-width: 768px){
    header {
        padding: 25px 20px;
    }

    .container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .close-btn {
    display: block;
    color: black;
    cursor: pointer;
    margin: 20px;
    font-size: 5.6vw;
    }

    .logo {
        height: 8vw;
        width: 35vw;
    }

    .burger {
        display: flex;
        margin-left: 82vw;
        }
    
      .menu {
        display: flex;
       flex-direction: column;
       gap: 2vw;
       position: fixed;
       top: 0;
       left: -100%; 
       height: 100%;
       background: linear-gradient(to bottom , #F3F4F2,#cdd3c8, #b3bca9);
       width: 45vw;
       transition: left 0.6s ease; 
       
    }
    .menu.active {
        left: 0;
        z-index: 1;
        
    }
      .menu a {
       color: rgb(71, 65, 65);
       font-size: 4.4vw !important;
       margin: 4vw;
       }
       .menu li{
        line-height: 10vw;
       }
      
    .btn {
        padding: 10px 15px;
        font-size: 16px;
    }

    h1 {
        font-size: 3.5vw;
        left: 0;
    }

    h1,
    h2,
    .image2 {
        margin: 0 5vw 0 5vw;
    }
     h2 {
        font-size: 2.5vw;
        text-align: left;
        left: 0;
        margin-right: 2vw;
        display: flex;
    }

    .btn {
        display: none;
    }

    .btn1,
    .btn2 {
        text-align: left !important;
        top: 6vw;
        font-size: 2vw;
        left: 5vw;
    }

    h3 {
        margin-top: 9vw;
        top: auto !important;
        bottom: 3.4vw;
        position: relative;
        margin-left: 0;
    }
    .images{
     margin-left: 0;
      margin-top: 0;
    }

    .image2 {
        display: flex;
        justify-content: left;
       }

    .image2 img {
       left: 0;
    }

.img6 {
        margin:6vw 8vw 5vw 15vw;
        top: auto !important;
    }

}

/* Для телефонів */
@media (max-width: 480px){
    .menu a {
        font-size: 14px;
    }
 .btn {
        display: none;
    }

    .burger {
        display: flex;
        margin-left: 88%;
        bottom: 20px !important;

    }

    .logo{
        height: 7vw;
        width: 30vw;
     }
   .btn1, .btn2{
    font-size: 2.8vw;
   }
   h3{
    font-size: 2.3vw !important;
    margin-top: 15vw;
   }
.images img{
    width: 5.4vw !important;
    height: 5.4vw !important;
}
p,h5{
    font-size: 3.6vw !important;
}
h4{
    font-size: 3.4vw !important;
}
.info li, .info2 li, .info3 li {
    font-size: 3vw ;
    line-height: 4vw !important;
}
}

.images {
    display: flex;
    top: 15.3vw;
    position: relative;
    left: 5.8vw;
   }
   .images img {
    width: 2.4vw;
    height: 2.4vw;
  }

h3 {
    top: 15.7vw;
    position: relative;
    left: 5.8vw;
    font-size: 0.9vw;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #4E4E4D;
}

.img6 {
    top: 29vw;
    position: relative;
    border-bottom-left-radius: 45%;
    border-top-right-radius: 45%;
    left: 8vw;
    user-select: none;
    pointer-events: none;
    display: flex;
  height: 25.5vw;
  width: 44vw;

}

h4 {
    left: 8vw;
    position: relative;
    font-weight: normal;
    font-family: 'Inter', sans-serif;
    color: #8E9D82;
    font-size: 1.24vw;
    bottom: 1vw;
}


h5 {
    font-size:1.6vw;
    color: #484947df;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    left: 58vw;
    position: relative;
    top: 5.8vw;
}

p {
    font-size: 1.3vw;
    color: #626460;
    margin-bottom: 1.3vw;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    left: 58vw;
    position: relative;
    top: 5.8vw;
}

h6 {

    position: relative;
    left: 45vw;
    font-size: 1.8vw;
    font-weight: 300;
    color: #4E4E4D;

}

.text-blok {

    background: linear-gradient(to bottom, #cdd3c8, #cdd3c8c4, #cdd3c85c);
    padding: 1vw  ;
    position: relative;
    top: 20vw;

}

.img7 img {

    width: 22vw;
    position: relative;
    top: 29vw;
    border-bottom-left-radius: 65%;
    border-top-right-radius: 60%;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 20%;
    left: 24vw;
    user-select: none;
    pointer-events: none;
}

.info {
    left: 51vw;
    position: relative;
    font-size: 1.4vw;
    top: 9vw;
    color: #60615e;
}

h7,
h8,
h9 {
    font-size: 2.2vw;
    bottom: 1.4vw;
    position: relative;
    color: #484947;

}

.img8 img {

    width: 30vw;
    position: relative;
    top: 5.8vw;
    border-bottom-left-radius: 60%;
    border-top-right-radius: 60%;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    left:51vw;
}

.info2 {
    left: 23vw;
    position: relative;
    font-size: 1.4vw;
    bottom: 11vw;
    color: #60615e;
}

.text-2-blok {
    background: linear-gradient(to bottom, #F3F4F2, #cdd3c8d5, #F3F4F2);
    padding: 6vw 1vw ;
    position: relative;
    top: 25vw;

}

.info li,
.info2 li,
.info3 li {
    left: 1.5vw;
    position: relative;
    line-height: 2vw;
}


.img9 img {
    height: 23vw;
    width: 33vw;
    position: relative;
    top: 30vw;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
    left: 18vw;
    user-select: none;
    pointer-events: none;
}

.info3 {
    left: 56vw;
    position: relative;
    font-size: 1.4vw;
    top: 13vw;
    color: #60615e;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h10 {
    top: 30vw;
    position: relative;
    left: 38.5vw;
    font-size:2.7vw;
    color: #373836ef;
    user-select: none;
    pointer-events: none;
    display: flex;
}

h11 {
    top: 30vw;
    position: relative;
    left: 34.6vw;
    font-size:1.4vw;
    color: #8e9d82e8;
    display: flex;
}

video {
    margin-top: 32vw;
    width: 90vw;
    left: 5vw;
    position: relative;
}



footer {
    margin-top: 20vw;
    background-color: #617050eb;
    padding: 1vw 2vw ;
    
    width: 100%;
   
   }
.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1.8vw;
    padding-left: 16vw;
    font-size: 1vw;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    }

    

.footer-content div {
    flex: 1;
    margin:0.9vw;
}



h12,  h14 {
    margin-bottom: 0.6vw;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

footer ul li {
    margin-bottom: 0.3vw;
    list-style: none;
    padding: 0;
    line-height: 2vw;
    
}

.footer-content a {
    text-decoration: none;
    color: #ced1cb;
    transition: color 0.4s ease,  transform 0.3s ease;
    display: inline-block;
}
.footer-content a:hover {
    color: white; 
    transform: scale(1.1);
  } 

.socials a:hover{
    transform: none !important;
}

div .socials{
top: 5vw;
position: relative;
}
button {
    border:#CDD3C8 solid 1px ;
    cursor: pointer;
    background-color: #CDD3C8;
    color: #484947;
    padding: 0.8vw 1.5vw;
    border-radius: 0.3vw;
    text-decoration: none;
    font-size: 1.1vw;
    box-shadow: 0.1vw 0.3vw 0.2vw rgba(0, 0, 0, 0.324);
    font-family: 'Inter', sans-serif;
    position: relative;
    font-weight: 400;
   left: 80vw;
   bottom: 1.4vw;
   transition: background-color 0.4s ease, color 0.4s ease, transform 0.3s ease;
}
button:hover{
    background-color:#617050bc; 
    color: #F3F4F2; 
    transform: scale(1.1); 
}
h12{
    font-size: 2.8vw;
    color: #F3FCEC;
    position: relative;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    top: 2vw;
    left: 7vw;
}
.logo img{
    height: 3.9vw;
    right:10vw ;
    position: relative;
    bottom:2.5vw;
    
}
h15{
    bottom: 0.3vw;
    position: relative;
    font-size: 0.8vw;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    color: #CDD3C8;
   left: 40vw;
}
h16{
    color: #FFFFFF;
    position: relative;
    left: 8vw;
    font-family: 'Inter', sans-serif;
    font-size: 1.2vw;
    font-weight: 200;
    top: 9vw;
}
.line {
    width: 89vw;
    border-top: 0.076vw solid #CDD3C8;
    margin: 0.6vw 0; 
   left:3vw;
   position: relative;
}
.line2{
    bottom: 1vw;
    position: relative;
    width: 89vw;
    border-top: 0.076vw solid #CDD3C8; 
    margin: 0.6vw 0;
    left: 3vw;
  }
.contact img{
    width: 1.6vw;
    margin: 0.5vw;
    background-color:#e1eadc ;
    border-radius: 2vw;
    position: relative;
    border:#CDD3C8 solid 1px ;
}
.contact li{
    line-height: 0vw;

}

.socials img {
    width: 2.4vw;
    height: 2.4vw;
    margin: 0.3vw;
    border:#CDD3C8 solid 1.6px ;
    background-color: #dfe2dc;
    padding: 0.3vw 0.3vw;
    border-radius: 0.3vw;
    transition: transform 0.3s ease;
   }
   .socials img:hover{ 
    transform: scale(1.1); 
    box-shadow: 0 0.5vw 0.7vw rgba(0, 3, 0, 0.144);
}